Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2024-06, with the labels that each got.

#257 Test ssh_keys role on Debian 12 (Bookworm)
  .github/workflows/ssh_keys.yml
  roles/ssh_keys/README.md
  roles/ssh_keys/meta/main.yml
Labels: ssh_keys

#259 Bump keepalived from version 2.3.0 to 2.3.1
  roles/keepalived/README.md
  roles/keepalived/defaults/main.yml
Labels: keepalived

#260 Add second test instance to unattended_upgrades molecule scenario
  molecule/unattended_upgrades/molecule.yml
  molecule/unattended_upgrades/verify.yml
Labels: unattended_upgrades

#264 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md.license
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md.license
Labels: enhancement

#273 Make GitLab DB port configurable in GitLab config template
  roles/gitlab/README.md
  roles/gitlab/defaults/main.yml
  roles/gitlab/templates/gitlab.rb.j2
Labels: gitlab

#279 Support more autoscaler policy config options
  roles/gitlab_runner/README.md
  roles/gitlab_runner/templates/config.toml.j2
Labels: gitlab_runner

#280 Make sure idle_time is a string in the runner config
  roles/gitlab_runner/templates/config.toml.j2
Labels: gitlab_runner
