Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2024-10, with the labels that each got.

#328 Fix molecule tests for netplan on Ubuntu 24.04
  molecule/netplan/prepare.yml
Labels: netplan

#327 Support fleeting-pluign-openstack boot_time parameter
  molecule/gitlab_runner/molecule.yml
  roles/gitlab_runner/README.md
  roles/gitlab_runner/templates/config.toml.j2
Labels: gitlab_runner

#325 Add custom routes
  roles/netplan/templates/config.yaml.j2
Labels: netplan

#331 Prepare release version 5.0.0
  CHANGELOG.md
  CITATION.cff
  README.md
  galaxy.yml
  roles/gitlab/README.md
  roles/gitlab_runner/README.md
  roles/haproxy/README.md
  roles/zammad/README.md
Labels: zammad, gitlab_runner, haproxy, gitlab
