Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2024-08, with the labels that each got.

#301 Remove support for OS that are EOL
  .github/workflows/gitlab.yml
  .github/workflows/ssh_keys.yml
  roles/gitlab/README.md
  roles/gitlab/meta/main.yml
  roles/ssh_keys/README.md
  roles/ssh_keys/meta/main.yml
Labels: ssh_keys, gitlab

#302 Install Zammad 6.3.1 by default
  roles/zammad/README.md
  roles/zammad/defaults/main.yml
Labels: zammad

#303 Install fleeting-plugin-openstack directly from GitHub
  molecule/gitlab_runner/molecule.yml
  molecule/gitlab_runner/verify.yml
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/tasks/install.autoscaler-plugin.yml
  roles/gitlab_runner/tasks/install.debianlike.yml
  roles/gitlab_runner/tasks/main.yml
Labels: gitlab_runner

#299 Support Ubuntu 24.04 and remove 18.04 support
  .github/workflows/gitlab.yml
  molecule/gitlab/molecule.yml
  roles/gitlab/meta/main.yml
Labels: gitlab

#308 Fix link to SSH keys role in README
  README.md
Labels: documentation

#311 Allow to customize butane config file
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/handlers/main.yml
  roles/gitlab_runner/tasks/configuration.yml
  roles/gitlab_runner/templates/butane-config.bu.j2
Labels: enhancement, gitlab_runner

#312 Support docker host parameter to allow Podman support
  roles/gitlab_runner/README.md
  roles/gitlab_runner/templates/config.toml.j2
Labels: gitlab_runner

#310 Add parameter to use specified configuration file
  roles/keepalived/tasks/main.yml
  roles/keepalived/templates/keepalived.service.j2
Labels: bug, keepalived
