Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2025-08, with the labels that each got.

#455 Make sure to run registry metadata database migrations
  molecule/gitlab/molecule.yml
  roles/gitlab/handlers/main.yml
  roles/gitlab/tasks/check.yml
  roles/gitlab/tasks/configure.yml
  roles/gitlab/tasks/main.yml
  roles/gitlab/tasks/reconfigure.yml
Labels: gitlab

#449 Fix condition for compatibility with Ansible 2.19
  roles/ssh_keys/tasks/main.yml
Labels: ssh_keys

#459 Fix registry db migrations not executed upon gitlab upgrades
  roles/gitlab/handlers/main.yml
Labels: bug, gitlab

#464 Ansible 2.19 compatibility
  molecule/netplan/verify.yml
  pyproject.toml
  roles/gitlab/README.md
  roles/gitlab/defaults/main.yml
  uv.lock
Labels: netplan, gitlab

#469 Use validate parameter to check HAProxy config file instead of handler task
  roles/haproxy/tasks/main.yml
Labels: haproxy

#473 Consistently access facts via the ansible_facts.* namespace
  molecule/gitlab_runner/molecule.yml
  molecule/gitlab_runner/prepare.yml
  molecule/netplan/verify.yml
  roles/gitlab_runner/README.md
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/tasks/install.debianlike.yml
  roles/gitlab_runner/tasks/main.yml
  roles/keepalived/README.md
  roles/keepalived/defaults/main.yml
  roles/zammad/README.md
  roles/zammad/defaults/main.yml
  roles/zammad/tasks/install.yml
Labels: unattended_upgrades, zammad, ssh_keys, gitlab_runner, keepalived, haproxy, netplan, redis, gitlab

#474 netplan role: prefix all internal variables with '__'
  roles/netplan/tasks/main.yml
Labels: netplan

#475 redis role: prefix all internal variables with '__'
  roles/redis/handlers/main.yml
  roles/redis/tasks/main.yml
Labels: redis

#482 Ensure stable order in gitlab_rails monitoring_whitelist
  roles/gitlab/templates/gitlab.rb.j2
Labels: enhancement, gitlab
