Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2025-05, with the labels that each got.

#420 Remove deprecated elasticsearch_url variable from zammad role
  roles/zammad/tasks/install.yml
Labels: breaking, zammad

#421 Remove deprecated keepalived_notification_email variable from keepalived role
  molecule/keepalived/molecule.yml
  roles/keepalived/tasks/main.yml
Labels: breaking, keepalived

#416 Replace git_data_dirs
  molecule/gitlab/molecule.yml
  molecule/gitlab/verify.yml
  roles/gitlab/defaults/main.yml
  roles/gitlab/tasks/configure.yml
  roles/gitlab/templates/gitlab.rb.j2
Labels: breaking, gitlab

#424 Do not pin GitLab in Molecule
  molecule/gitlab/molecule.yml
Labels: gitlab

#425 Install Redis 8 by default
  roles/redis/README.md
  roles/redis/defaults/main.yml
Labels: redis

#430 Allow users to overwrite gitlab_rails['repositories_storages']
  roles/gitlab/README.md
  roles/gitlab/defaults/main.yml
  roles/gitlab/templates/gitlab.rb.j2
Labels: gitlab
