Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2025-02, with the labels that each got.

#391 Convert keepalived_notification_email to a list
  molecule/keepalived/converge.yml
  molecule/keepalived/molecule.yml
  roles/keepalived/README.md
  roles/keepalived/defaults/main.yml
  roles/keepalived/tasks/main.yml
  roles/keepalived/templates/keepalived.conf.j2
Labels: keepalived

#393 Replace deprecated community.general.yaml
  molecule/gitlab/molecule.yml
  molecule/keepalived/molecule.yml
  molecule/redis/molecule.yml
Labels: keepalived, redis, gitlab

#402 Fix molecule docker startup for Debian and Ubuntu 20.04
  molecule/gitlab_runner/converge.yml
Labels: gitlab_runner

#404 Remove Docker 28 IPV6 related fix
  molecule/gitlab_runner/converge.yml
Labels: gitlab_runner
