Repository hifis-net/ansible-collection-toolkit, pull requests merged in 2025-01, with the labels that each got.

#356 role ssh_keys: ignores errors when in check-mode and users doesnt exist yet
  molecule/ssh_keys/molecule.yml
  roles/ssh_keys/tasks/main.yml
Labels: ssh_keys

#359 Update butane to v0.23.0
  roles/gitlab_runner/README.md
  roles/gitlab_runner/defaults/main.yml
Labels: gitlab_runner

#362 Fix autoscaler URL template and install 0.28.0 by default
  .ansible-lint
  roles/gitlab_runner/defaults/main.yml
  roles/gitlab_runner/tasks/install.autoscaler-plugin.yml
Labels: bug, gitlab_runner

#361 Install Zammad 6.4.1 by default
  roles/zammad/README.md
  roles/zammad/defaults/main.yml
Labels: zammad

#365 Make sure to not output sensitive information
  roles/gitlab/README.md
  roles/gitlab/defaults/main.yml
  roles/gitlab/tasks/configure.yml
Labels: gitlab

#372 Fix incompatibilities with ansible-lint in custom yamllint config
  .yamllint.yml
  roles/unattended_upgrades/defaults/main.yml
Labels: unattended_upgrades

#368 Fix failing GitLab KAS in molecule test
  molecule/gitlab/molecule.yml
Labels: gitlab

#376 Do not run search index rebuild by default
  roles/zammad/README.md
  roles/zammad/defaults/main.yml
  roles/zammad/handlers/main.yml
  roles/zammad/tasks/install.yml
Labels: zammad

#377 Rename elasticsearch_url variable
  roles/zammad/README.md
  roles/zammad/defaults/main.yml
  roles/zammad/handlers/main.yml
  roles/zammad/tasks/install.yml
Labels: zammad

#373 Support manual deb file installation for gitlab-runner version 17.7 or greater
  molecule/gitlab_runner/molecule.yml
  roles/gitlab_runner/README.md
  roles/gitlab_runner/tasks/install.debianlike.yml
Labels: bug, gitlab_runner
